/* .box-1 {
    background: #e51400;
}

.box-2 {
    background: #fa6800;
}

.box-3 {
    background: #f0a30a;
}

.box-4 {
    background: #e3c800;
}

.box-5 {
    background: #a4c400;
}

.box-6 {
    background: #60a917;
} */

.box {
    font-size: 50px;
    color: white;
    padding: 10px;
    width: 150px;
    height: 150px;
    background: #a4c400;
    /* border-color: black; */
    border: 2px solid black;
}

/*  LAYOUT STYLES */
.container {
    display: flex;
    /* border: 8px solid black; */
    height: 80vh;
    width: 80vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}